body {
    font-family: Roboto;
}

.dark-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 50px 0 50px;
    width: 800px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 50px;
    padding-left: 0;
}

.subhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 50px;
    width: 800px;
}

.subhead-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 350px;
}

.bold {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
}

.small-white {
    max-width: 250px;
    line-height: 16pt;
}

.button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    color:#3882F6;
    background-color: #F9FAF8;
}

.section-two {
    text-align: center;
    margin-bottom: 10px;
}

.section-two-heading {
    color: #1F2937;
    font-size: 36px;
    weight: 900;
}

.section-two-box {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
}

.square {
    border:#3882F6;
    border-color: #3882F6;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
}

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
}

.emphasis-big {
    font-size: 36px;
    font-weight: 300;
    max-width: 500px;
    margin: 50px 20px 0 20px;
}

.emphasis-small {
    font-size: 18px;
    text-align: end;
    font-weight: 300;
    margin-bottom: 50px;
}

.section-four {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 5px;
    margin: 50px;
    padding: 20px;
    color: #F9FAF8;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 50px auto;
}

.action-bold {
    font-weight: bold;
    margin: 0;
}

.action-small {
    font-size: 13px;
    margin-top: 5px;
}

.button-inverted {
    cursor: pointer;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #F9FAF8;
    padding-left: 15px;
    padding-right: 15px;
    color: #F9FAF8;
    margin: 0;
    border-style: solid;
    border-width: 1px;
}

.button-inverted:hover {
    color:#3882F6;
    background-color: #F9FAF8;
    border-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color:#F9FAF8;
    padding: 15px 0;
}